<div class="main" id="main">
    <div class="content">
        test
    </div>

    <ng-container *ngFor="let c of cursors">
            <svg height="50" width="50" 
            [ngStyle]="{'top': c.top, 'left': c.left}" 
            class="circle"  cdkDragBoundary=".main" cdkDrag (dblclick)="remove(c)">
                    <circle [attr.cx]="c.cx" [attr.cy]="c.cy" r="20" stroke="red" stroke-width="3" fill="white" fill-opacity="0" />
                </svg>
    </ng-container>
 
</div>

<div class="text-center mt-3">
        <button class="btn btn-info mr-2" (click)="addCursor()">Add Cursor</button>
    <button class="btn btn-primary" (click)="print()">Print</button>
</div>